<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/dikutal-bar.css">
  <link rel="stylesheet" href="/css/pygments.css">
  <link href='http://fonts.googleapis.com/css?family=Molle:400italic' rel='stylesheet' type='text/css'>
  <title>DIKU Cookbook - {{ page.title }}</title>
</head>

<body>

  <nav id="dikutal-header">
    <div id="logo"><!-- <img src="/logo/new-dikutal-logo16x16.png"/>  -->Dikutal</div>
    <ol>
      <li><a href="/archive">Archive</a></li>
      <li><a href="/calendar">Calendar</a></li>
      <li><a href="/jobs">Jobs</a></li>
      <li><a href="/planet">Blogs</a></li>
      <li><a href="http://qa.dikutal.dk/">Q&amp;A</a></li>
      <li><a href="http://food.dikutal.dk/">Food</a></li>
      <li><a href="http://tex.dikutal.dk/">DIKUTeX</a></li>
    </ol>
  </nav>

<div id="main">
    <header>
        <h1>DIKU Cookbook</h1>
        <nav>
          <ul>
            <li><a href="/">By tag</a></li>
            <li><a href="/recipes-by-language.html">By language</a></li>
            <li><a href="/fastfood.html">Fastfood</a></li>
            <li><a href="/links.html">Links</a></li>
          </ul>
        </nav>
    </header>
    
    <article>
       {% block content %}
       {% endblock %}
    </article>

    <footer>
      <ul>
        <li><a href="https://github.com/mythmon/wok">Made with Wok</a></li>
        <li><a href="https://github.com/Dikutal/Cookbook">Sources on Github</li>
      </ul>
    </footer>
</div>
</body>

<html>
