<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/pygments.css">
  <title>DIKU Cookbook - {{ page.title }}</title>
</head>

<body>

    <header>
        <h1>DIKU Cookbook</h1>
        <nav>
          <ul>
            <li><a href="/">By tag</a></li>
            <li><a href="/recipes-by-language.html">By language</a></li>
            <li><a href="/fastfood.html">Fastfood</a></li>
            <li><a href="/links.html">Links</a></li>
          </ul>
        </nav>
    </header>
    
    <article>
       {% block content %}
       {% endblock %}
    </article>

    <footer>
      <ul>
        <li><a href="https://github.com/mythmon/wok">Made with Wok</a></li>
        <li><a href="https://github.com/Dikutal/Cookbook">Sources on Github</li>
      </ul>
    </footer>
</body>

<html>
